<div class="logo" ng-click="$ctrl.goHome">
    <span class="logoElement"
          ng-repeat="i in ['a', 'b', 'c']"
          ng-class="i"
          data-copy="{{$ctrl.text[i]}}">
        {{$ctrl.text[i]}}
    </span>
</div>