.logo {
  margin: 5vmin;
  text-align: center;
  font-size: 4vmin;
  font-family: Arial;
  height: 10vmin;
  letter-spacing: -0.3vmin;
  font-weight: 800;
  color: #3e3e3e;
  text-transform: uppercase;
}

.logoElement {
  display: inline-block;
  position: relative;
  transition: font-size cubic-bezier(.4, .9, .45, 1.25) 0.35s;
  animation: appear 1s cubic-bezier(.4, .9, .45, 1.25);

  @keyframes appear {
    0% {
      font-size: 40%;
      top: 5vmin;
    }
    60% {
      font-size: 120%;
      top: -1vmin;
    }
    100% {
      top: 0
    }
  }

  &:before {
    content: attr(data-copy);
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    top: 2px;
    transform: rotate(-2deg);
  }

  &.a {
    transform: rotate(-2deg);
  }

  &.b {
    transform: rotate(2deg);
    margin-left: -0.5vmin;
    font-size: 135%;
    animation-duration: 1.3s;
  }

  &.c {
    transform: rotate(-2deg);
    display: block;
    margin-top: -1vmin;
    font-size: 110%;
    color: #f12929;
    animation-duration: 1.6s;
  }

  &:hover {
    font-size: 170% !important;
  }
}