<div class="clients">
    <div class="client"
         ng-repeat="client in $ctrl.clients">
        <div class="image"></div>
        <div class="name">
            <b>{{client.firstName}}</b> {{client.lastName}}
        </div>
        <div class="cprCvr">{{client.cprCvr}}</div>
    </div>
</div>