.clients {
  margin: 2vmin;
  display: flex;
  justify-content: space-around;
  font-family: Arial, sans-serif; }
  .clients .client {
    width: 30%;
    margin-bottom: 5vmin;
    position: relative;
    text-align: center; }
    .clients .client .image {
      width: 20vmin;
      margin: 1vmin auto;
      height: 20vmin;
      background: center no-repeat url(img/male.png);
      background-size: contain;
      border-radius: 50%; }
    .clients .client .name {
      font-size: 4vmin; }
    .clients .client .cprCvr {
      font-size: 2vmin;
      opacity: 0.3; }

/*# sourceMappingURL=clients.css.map */
