.clients {
  margin: 2vmin;
  display: flex;
  justify-content: space-around;
  font-family: Arial, sans-serif;


  .client {
    width: 30%;
    margin-bottom: 5vmin;
    position: relative;
    text-align: center;

    .image {
      width: 20vmin;
      margin: 1vmin auto;
      height: 20vmin;
      background: center no-repeat url(img/male.png);
      background-size: contain;
      border-radius: 50%;
    }

    .name {
      font-size: 4vmin;
    }
    .cprCvr {
      font-size: 2vmin;
      opacity: 0.3;
    }
  }
}